body {
	background-color: #EBF2FA; 
	font-family: Courier, Arial, sans-serif;
}

.boxed { 
	background-color: #427AA1; 
	width: 20%;
	text-align: center;
	margin: auto;
	font-size: 50px;
	font-weight: bold;
	color: #EBF2FA;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
}

h4 {
	background: #EA638C;
	padding: 10px 10px;
	font-style: italic;
}
a {
	color: #30343F;
}

table {
	border-width: 5px;
	border-color: #05668D;
	border-style: solid;
	border-radius: 10px;
}

td {
	font-size: 36pt;
	font-style: bold;
	color: #427AA1;
	border-width: 5px;
	border-color: #05668D;
	border-style: solid;
}

tr {
	background: #EBF2FA;
}

button {
	background-color: #679436;
	border-radius: 8px;
	border-style: none;
	padding: 5px 10px;
	font-family: Courier, Arial, sans-serif;
}