body {
	background: #FFD9DA; 
	font-family: Arial;
}

h1 {
	background: #89023E;
	color: white;
	padding: 10px 10px;
}

h4 {
	background: #EA638C;
	padding: 10px 10px;
	font-style: italic;
}
a {
	color: #30343F;
}

table {
	border-width: 5px;
	border-color: #EA638C;
	border-style: solid;
}

td {
	width: 85;
	height: 85;
	font-size: 36pt;
	font-style: bold;
	color: #89023E;
	border-width: 5px;
	border-color: #EA638C;
	border-style: solid;
}

tr {
	background: #f5f5f5;
}